@import "_minix.scss";
@import "common.scss";
.wrapper {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
    .header {
        width: 100%;
        height: pxTorem(44px);
        text-align: center;
        line-height: pxTorem(44px);
    }
    .section {
        width: 100%;
        @include flex;
        .swiper-container,
        .swiper-wrapper,
        .swiper-slide {
            width: 100%;
            height: 100%;
            height: pxTorem(200px);
            .zslide1 {
                background: red;
            }
            .zslide2 {
                background: green;
            }
            .zslide3 {
                background: pink;
            }
            .zslide4 {
                background: chartreuse;
            }
            .zslide5 {
                background: skyblue;
            }
        }
    }
    .footer {
        width: 100%;
        height: pxTorem(50px);
    }
}

.header span {
    color: #CE6D80;
    font-size: pxTorem(16px);
}